<div class="popup-wrap popup-preview product-sl" id="popup-preview-product">
   <div class="popup">
      @@include('../../components/close.html')
      <!-- Контент модального окна -->
      <div class="popupSwiper-container">
         <div class="swiper popupSwiper">
            <div class="swiper-wrapper">
               <div class="swiper-slide"><img src="img/app/product/classic/classic1.webp" alt=""></div>
               <div class="swiper-slide"><img src="img/app/product/classic/classic2.webp" alt=""></div>
               <div class="swiper-slide"><img src="img/app/product/classic/classic3.webp" alt=""></div>
               <div class="swiper-slide"><img src="img/app/product/classic/classic4.webp" alt=""></div>
               <div class="swiper-slide"><img src="img/app/product/classic/classic5.webp" alt=""></div>
               <div class="swiper-slide"><img src="img/app/product/classic/classic6.webp" alt=""></div>
               <div class="swiper-slide"><img src="img/app/product/classic/classic7.webp" alt=""></div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
         </div>
      </div>
   </div>

   <div class="popup-overlay"></div>
</div>