<form action="#" method="" class="contact-form" id="form-doc">
   <div class="grid-item doc-grid-item">
      <div class="form-item" tabindex="1">
         <input type="text" name="user_name" id="user_name" class="field">
         <label for="user_name" class="placeholder">Ваше имя<sup>*</sup></label>
         <div class="error-message"><i class="fas fa-exclamation-circle"></i> <span></span></div>
      </div>

      <div class="form-item d-form-item" tabindex="1">
         <input type="text" name="user_company" id="user_company" class="field">
         <label for="user_company" class="placeholder">Наименование организации</label>
         <div class="error-message"><i class="fas fa-exclamation-circle"></i> <span></span></div>
      </div>
   </div>

   <div class="grid-item">
      <div class="form-item" tabindex="1">
         <input type="tel" name="user_phone" id="user_phone" class="field">
         <label for="user_phone" class="placeholder">Ваш телефон<sup>*</sup></label>
         <div class="error-message"><i class="fas fa-exclamation-circle"></i> <span></span></div>
      </div>

      <div class="form-item" tabindex="1">
         <input type="text" name="user_email" id="user_email" class="field">
         <label for="user_email" class="placeholder">Ваш E-mail<sup>*</sup></label>
         <div class="error-message"><i class="fas fa-exclamation-circle"></i> <span></span></div>
      </div>
   </div>

   <div class="form-item" tabindex="1">
      <textarea name="user_message" id="user_message" class="field"></textarea>
      <label for="user_message" class="placeholder">Сообщение</label>
   </div>

   <button class="ui-button" type="submit"><span>Отправить</span></button>
</form>