<section id="contact" class="section-contact">
   <div class="title-block">
      <div class="title-wrap animate">
         <h2 class="section-title-lg"><span><strong>@@strong </strong>@@title</span></h2>
      </div>
   </div>

   <div class="ui-container">
      <p class="ui-text-2 animate">Если у вас возникли вопросы по поводу заказа — заполните форму ниже или свяжитесь с нами по указаным контактам</p>

      <div class="c-content">
         <div class="c-form-wrap animate">
            @@include('../form-contact.html')
         </div>

         <div class="c-contact-wrap animate">
            <div class="c-contacts-link">
               <!-- <a href="tel: 600-123-6543210">
                  <div class="icon"><svg><use xlink:href="../img/app/svg-sprite.svg#phone"></use></svg></div>
                  <span>600-123-6543210</span>
               </a> -->
               <a href="mailto: info@tecron.pro">
                  <div class="icon"><svg><use xlink:href="../img/app/svg-sprite.svg#mail"></use></svg></div>
                  <span>info@tecron.pro</span>
               </a>
            </div> 
            
            @@include('../socials.html')
         </div>
      </div>
   </div>
</section>