<div class="popup-wrap popup-preview" id="popup-preview-product">
   <div class="popup">
      @@include('../../components/close.html')
      <!-- Контент модального окна -->
      <div class="popupSwiper-container">
         <div class="swiper popupSwiper">
            <div class="swiper-wrapper">
               <div class="swiper-slide"><img src="../../img/app/products/product1/product-single1-2x.webp" alt=""></div>
               <div class="swiper-slide"><img src="../../img/app/products/product1/product-single2-2x.webp" alt=""></div>
               <div class="swiper-slide"><img src="../../img/app/products/product1/product-single3-2x.webp" alt=""></div>
               <div class="swiper-slide"><img src="../../img/app/products/product1/product-single4-2x.webp" alt=""></div>
               <div class="swiper-slide"><img src="../../img/app/products/product1/product-single5-2x.webp" alt=""></div>
               <div class="swiper-slide"><img src="../../img/app/products/product1/product-single6-2x.webp" alt=""></div>
               <div class="swiper-slide"><img src="../../img/app/products/product1/product-single7-2x.webp" alt=""></div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
         </div>
      </div>
   </div>

   <div class="popup-overlay"></div>
</div>