<div class="popup-wrap popup-preview" id="popup-certificate">
   <div class="popup">
      @@include('../../components/close.html')
      <!-- Контент модального окна -->
      <div class="popup-certificate-container">
         <div class="img" data-img="img/app/about/certificate1.webp"><img src="../../img/app/about/certificate1.webp" alt=""></div>
      </div>
      <!-- <div class="popupSwiper-container">
         <div class="swiper popupSwiper">
            <div class="swiper-wrapper">
               <div class="swiper-slide" data-img="img/app/about/certificate1.webp"><img src="../../img/app/about/certificate1.webp" alt=""></div>
               <div class="swiper-slide" data-img="img/app/about/certificate2.webp"><img src="../../img/app/about/certificate2.webp" alt=""></div>
            </div>
   
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
         </div>
      </div> -->
   </div>

   <div class="popup-overlay"></div>
</div>