<footer>
   <div class="f-top">
      <div class="ui-container">
         <div class="f-top-wrap">
            @@include('./logo.html')
            <div class="socials-footer-mobile"> @@include('./socials.html') </div>
         </div>
         <div class="nav-menu-wrap">
            @@include('./nav-menu.html')
            <div class="search-wrap">
               @@include('./search-form.html')
            </div>
         </div>
      </div>
   </div>

   <div class="f-bottom">
      <div class="ui-container">
         <div class="copyright">Copyright &copy; TECRON, 2022. Все права защищены.</div>
         @@include('./socials.html')
      </div>
   </div> 

   <div class="footer-bg-wrap">
      <div class="hf-bg footer"></div>
   </div>
</footer>

