<!-- ! Do not use in this version -->

<div class="drop-tabs-wrap animate">
   <div class="drop-tabs has-children click">
      <div class="selected"><span>Эксклюзив</span></div>
      <ul class="r-tabs">
         <li class="lava active" data-rel="rc1">Эксклюзив</li>
         <li class="lava" data-rel="rc2">Новинки</li>
         <li class="lava" data-rel="rc3">Популярные</li>
         <li class="lava" data-rel="rc4">Распродажи</li>
         <li class="swimming"></li>
      </ul>
   </div>

   <a href="#" class="all">Смотреть все</a>
</div>