<nav class="nav-menu">
   <ul class="submenu">
      <li menu-arrow class="has-children">
         <a href="page-products.html">Продукция</a>
         <ul class="submenu_1">
            <li data-item-name="1">
               <a href="page-products.html">
                  <div class="icon"><img src="../img/app/icons/menu-1.svg" alt=""></div>
                  <span>Комбинезоны</span>
               </a>
            </li>
            <li data-item-name="2">
               <a href="page-products.html">
                  <div class="icon"><img src="../img/app/icons/menu-2.svg" alt=""></div>
                  <span>Перчатки</span>
               </a>
            </li>
            <li data-item-name="3">
               <a href="page-products.html">
                  <div class="icon"><img src="../img/app/icons/menu-3.svg" alt=""></div>
                  <span>Беруши</span>
               </a>
            </li>
            <li data-item-name="4">
               <a href="page-products.html">
                  <div class="icon"><img src="../img/app/icons/menu-4.svg" alt=""></div>
                  <span>Очки защитные</span>
               </a>
            </li>
            <li data-item-name="5">
               <a href="page-products.html">
                  <div class="icon"><img src="../img/app/icons/menu-5.svg" alt=""></div>
                  <span>Ледоступы</span>
               </a>
            </li>
         </ul>
      </li>
      <li menu-arrow class="has-children noIcon-item-menu"> 
         <a href="page-support.html">Поддержка</a>
         <ul class="submenu_1">
            <li data-item-name="1">
               <a href="page-support.html">
                  <div class="icon"><img src="../img/app/icons/menu-1.svg" alt=""></div>
                  <span>Для дилеров</span>
               </a>
            </li>
            <li data-item-name="2">
               <a href="page-support.html">
                  <div class="icon"><img src="../img/app/icons/menu-2.svg" alt=""></div>
                  <span>Для инвесторов</span>
               </a>
            </li>
            <li data-item-name="3">
               <a href="page-support.html">
                  <div class="icon"><img src="../img/app/icons/menu-3.svg" alt=""></div>
                  <span>Инструкции</span>
               </a>
            </li>
            <li data-item-name="4">
               <a href="page-support.html">
                  <div class="icon"><img src="../img/app/icons/menu-4.svg" alt=""></div>
                  <span>Стандарты</span>
               </a>
            </li>
            <li data-item-name="5">
               <a href="page-support.html">
                  <div class="icon"><img src="../img/app/icons/menu-5.svg" alt=""></div>
                  <span>Обозначения</span>
               </a>
            </li>
         </ul>
      </li>
      <li><a href="page-about.html">О компании</a></li>
      <li><a href="page-buy.html">Где купить</a></li>
   </ul>
</nav>