<div class="swiper-container">
   <div class="swiper recommendend-swiper animate products-cards rec-sl-home">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper main-swiper-wrapper">

         <!-- Slides -->
         <div class="swiper-slide">
            <a href="page-products.html" data-item-name="1" class="t-card">
               <div class="t-card-img">
                  <img src="../img/app/card/product1.webp" alt="Комбинезоны">
               </div>
         
               <div class="t-card-info">
                  <h5 class="t-card-title">Комбинезоны</h5>
               </div>
            </a>
         </div>
         
         <div class="swiper-slide">
            <a href="page-products.html" data-item-name="2" class="t-card">
               <div class="t-card-img">
                  <img src="../img/app/card/product2.webp" alt="Перчатки">
               </div>
         
               <div class="t-card-info">
                  <h5 class="t-card-title">Перчатки</h5>
               </div>
            </a>
         </div>
         
         <div class="swiper-slide">
            <a href="page-products.html" data-item-name="3" class="t-card">
               <div class="t-card-img">
                  <img src="../img/app/card/product3.webp" alt="Беруши">
               </div>
         
               <div class="t-card-info">
                  <h5 class="t-card-title">Беруши</h5>
               </div>
            </a>
         </div>
         
         <div class="swiper-slide">
            <a href="page-products.html" data-item-name="4" class="t-card">
               <div class="t-card-img">
                  <img src="../img/app/card/product4.webp" alt="Очки защитные">
               </div>
         
               <div class="t-card-info">
                  <h5 class="t-card-title">Очки <br> защитные</h5>
               </div>
            </a>
         </div>
         
         <div class="swiper-slide">
            <a href="page-products.html" data-item-name="5" class="t-card">
               <div class="t-card-img">
                  <img src="../img/app/card/product5.webp" alt="Ледоступы">
               </div>
         
               <div class="t-card-info">
                  <h5 class="t-card-title">Ледоступы</h5>
               </div>
            </a>
         </div>
      </div>
   </div>
   <!-- If we need pagination -->
   <div class="swiper-pagination"></div>


   <!-- If we need navigation buttons -->
   <div class="swiper-button-prev"></div>
   <div class="swiper-button-next"></div>
</div>