<div class="swiper-container">
   <div class="swiper recommendend-swiper animate products-cards rec-sl-single">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper main-swiper-wrapper">
   
         <!-- Slides -->
         <div class="swiper-slide">
            <a href="page-product-single.html" class="t-card">
               <div class="t-card-img">
                  <img src="../img/app/card/product1.webp" alt="Перчатки">
               </div>
            
               <div class="t-card-info">
                  <h5 class="t-card-title">Комбинезон <br> TECRON Pro</h5>
                  <p class="t-card-excerpt">Модель: Pro <br> Тип защиты: 5/6</p>
               </div>
            </a>
         </div>
   
         <div class="swiper-slide">
            <a href="page-product-single2.html" class="t-card">
               <div class="t-card-img">
                  <img src="../img/app/card/product6.webp" alt="Перчатки">
               </div>
            
               <div class="t-card-info">
                  <h5 class="t-card-title">Комбинезон <br> TECRON Classic Light</h5>
                  <p class="t-card-excerpt">Модель: Classic Light <br> Тип защиты: 5/6</p>
               </div>
            </a>
         </div>
   
         <div class="swiper-slide">
            <a href="page-product-single.html" class="t-card">
               <div class="t-card-img">
                  <img src="../img/app/card/card3.webp" alt="Перчатки">
               </div>
            
               <div class="t-card-info">
                  <h5 class="t-card-title">Перчатки <br> комбинированные</h5>
                  <p class="t-card-excerpt">Модель: Classic Light <br> Тип защиты: 5/6</p>
               </div>
            </a>
         </div>
   
         <div class="swiper-slide">
            <a href="page-product-single.html" class="t-card">
               <div class="t-card-img">
                  <img src="../img/app/card/card1.webp" alt="Перчатки">
               </div>
            
               <div class="t-card-info">
                  <h5 class="t-card-title">Перчатки <br> комбинированные</h5>
                  <p class="t-card-excerpt">Модель: Classic Light <br> Тип защиты: 5/6</p>
               </div>
            </a>
         </div>
    
         <div class="swiper-slide">
            <a href="page-product-single.html" class="t-card">
               <div class="t-card-img">
                  <img src="../img/app/card/card1.webp" alt="Перчатки">
               </div>
            
               <div class="t-card-info">
                  <h5 class="t-card-title">Перчатки <br> комбинированные</h5>
                  <p class="t-card-excerpt">Модель: Classic Light <br> Тип защиты: 5/6</p>
               </div>
            </a>
         </div>
   
         
      </div>
   </div>
   <!-- If we need pagination -->
   <div class="swiper-pagination"></div>

   
   <!-- If we need navigation buttons -->
   <div class="swiper-button-prev"></div>
   <div class="swiper-button-next"></div>
</div>


