<div class="socials">
   <a href="https://t.me/tecron" class="telegram"><i class="fab fa-telegram-plane"></i> <span>Написать в Telegram</span></a>
   <a href="https://wa.me/+8618098948684"" class="whatsapp"><i class="fab fa-whatsapp"></i> <span>Написать в Whatsapp</span></a>
   <a href="" class="wechat"><i class="fab fa-weixin"></i></i> <span>Написать в WeChat</span></a>
   <a href="https://www.facebook.com/Tecronopt/" class="facebook"><i class="fab fa-facebook-square"></i> <span>Мы в Facebook</span></a>
   <a href="https://www.instagram.com/tecronopt/" class="instagram"><i class="fab fa-instagram"></i> <span>Мы в Instagram</span></a>
</div>