.section-also-buy {
   padding: 113px 0 180px 0;
   box-shadow: 0px -20px 50px rgba(46, 78, 96, 0.05);
   .title {
      margin-bottom: 45px;
      padding-bottom: 13px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      color: $main-dark;
      border-bottom: 1px solid $border;
   }
}